#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#

# this is read by the standalone daemon and embedded servers
[server]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is read by both MariaDB and MySQL servers
[mysqld]

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

#File Key Management Plugin
#plugin_load_add=file_key_management
#file_key_management = ON 
#file_key_management_encryption_algorithm=aes_ctr
#loose_file_key_management_filename = /etc/mysql/conf.d/encryption/tde/keyfile.enc
#loose_file_key_management_filekey = FILE:/etc/mysql/conf.d/encryption/tde/keyfile.key

# InnoDB/XtraDB Encryption Setup
#innodb_default_encryption_key_id = 1
#innodb_encrypt_tables = ON
#innodb_encrypt_log = ON
#innodb_encryption_threads = 4

# Aria Encryption Setup
#aria_encrypt_tables = ON

# Temp & Log Encryption
#encrypt-tmp-disk-tables = 1
#encrypt-tmp-files = 1
#encrypt_binlog = ON

#ssl-ca=/etc/mysql/conf.d/encryption/tls/ca-cert.pem
#ssl-cert=/etc/mysql/conf.d/encryption/tls/server-cert.pem
#ssl-key=/etc/mysql/conf.d/encryption/tls/server-key.pem

#tls_version = TLSv1.3
#ssl_cipher = TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384

#[client-mariadb]
#ssl_cert = /etc/mysql/conf.d/encryption/tls/client-cert.pem
#ssl_key = /etc/mysql/conf.d/encryption/tls/client-key.pem
#ssl_ca = /etc/mysql/conf.d/encryption/tls/ca.pem
#ssl-verify-server-cert

# This group is only read by MariaDB-10.11 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.11]

